.direnv/
dist/
dist-newstyle/
result/
.hie
scripts/bench_results.csv
*.csv

*.aux
*.bak*
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.synctex(busy)
*.tdo
*.toc
writing/_minted

.DS_Store
__pycache__/
imgui.ini
texput.log
